<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Afterthought{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='structure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        {% if current_user.is_authenticated %}
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="{{ url_for('courses.show_all')}}">Courses</a>
            <a href="{{ url_for('sessions.show_all')}}">Sessions</a>
        </div>

        <div class="nav-account-control">
            <p class="muted">{{current_user.username}}</p>
            <a class="btn btn-secondary" href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="nav-account-control">
            {% block nav_options %}
            <a class="btn btn-secondary" href="/login">Login</a>
            <a class="btn btn-primary" href="/signup">Signup</a>
            {% endblock %}
        </div>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <main>
        <div class="content-header">
            {% block content_header %}{% endblock %}
        </div>

        {% block content %}{% endblock %}
    </main>
</body>

</html>