<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Afterthought{% endblock %}</title>
</head>

<body>
    <!-- Nav -->
    <nav>
        {% if current_user.is_authenticated %}
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="{{ url_for('courses.show_all')}}">Courses</a>
            <a href="/sessions">Sessions</a>
        </div>

        <div class="nav-account-control">
            <p>{{current_user.username}}</p>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>

        {% else %}
        <div class="nav-account-control">
            {% block nav_options %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {% endblock %}
        </div>

        {% endif %}
    </nav>

    <!-- Flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Main Content -->
    <div class="content-header">
        {% block content_header %}
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>