{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block nav_options %}
<a class="btn btn-primary" href="/login">Login</a>
{% endblock %}

{% block content %}
<div class="block card">
    <h2>Sign Up</h2>

    <form method="POST">
        <label>First Name:
            <input type="text" name="first-name" required>
        </label>

        <label>Last Name:
            <input type="text" name="last-name" required>
        </label>

        <label>Date of Birth:
            <input type="date" name="dob" required>
        </label>

        <label>Username:
            <input type="text" name="username" required>
        </label>

        <label>Email:
            <input type="email" name="email" required>
        </label>

        <label>Password:
            <input type="password" name="password" required>
        </label>

        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}