{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="Signup block">
    <h2>Sign Up</h2>

    <form method="POST">
        <label for="first-name">First Name:
            <input type="text" name="first-name" placeholder="First Name" required>
        </label>
        <label for="last-name">Last Name:
            <input type="text" name="last-name" placeholder="Last Name" required>
        </label>
        <label for="dob">Date of Birth:
            <input type="date" name="dob" placeholder="" required>
        </label>

        <label for="username">Username:
            <input type="text" name="username" placeholder="Username" required>
        </label>
        <label for="email">Email:
            <input type="email" name="email" placeholder="Email" required><br>
        </label>
        <label for="password">Password:
            <input type="password" name="password" placeholder="Password" required><br>
        </label>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}