{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block nav_options %}
<a href="/login">Login</a>
{% endblock %}

{% block content %}
<div class="Signup block">
    <h2>Sign Up</h2>

    <form method="POST">
        <label>First Name:
            <input type="text" name="first-name" placeholder="First Name" required>
        </label>
        <label>Last Name:
            <input type="text" name="last-name" placeholder="Last Name" required>
        </label>
        <label>Date of Birth:
            <input type="date" name="dob" placeholder="" required>
        </label>

        <label>Username:
            <input type="text" name="username" placeholder="Username" required>
        </label>
        <label>Email:
            <input type="email" name="email" placeholder="Email" required><br>
        </label>
        <label>Password:
            <input type="password" name="password" placeholder="Password" required><br>
        </label>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}