{% extends "base.html" %}
{% block title %}New Course{% endblock %}

{% block content_header %}
<a href="{{ url_for('courses.show_all') if context == 'courses' else url_for('dashboard.index') }}">←</a>
<h1 class="content-title">Create New Course</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <label>Title:
        <input type="text" name="title" required>
    </label>
    <label>Description:
        <textarea name="description"></textarea>
    </label>
    <label>Start Date:
        <input type="date" name="start-date">
    </label>
    <label>End Date:
        <input type="date" name="end-date">
    </label>
    <button type="submit">Create Course</button>
</form>
<a href="{{ url_for('courses.show_all') if context == 'courses' else url_for('dashboard.index') }}">Back</a>
{% endblock %}